.project-description {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.project-title {
    font-family: 'Arvo', serif;
}

.modal-header {
    background-color: rgb(233, 229, 229);
}